body {
    background-color: rgb(23, 89, 111);
}
.myclass {
    color: rgb(221, 70, 201);
}
#myid {
    background: #cd4040;

}
#secondid 
{ font-size: 1px;

}

.container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Full height of the viewport */
    }